:root {
    --tw-color-primary: #1EA896;
    --tw-color-secondary: #FF3864;
    --tw-color-tertiary: #002A32;
    --tw-color-text: #002A32;
    --tw-color-worse: #C94251;
    --tw-color-equal: #EE803B;
    --tw-color-better: #4CA48A;
    --tw-color-text: #002A32;
    --tw-color-grid: #CABAC8;
    --tw-color-russet: #82502E;

  }